<div class="autocomplete-dropdown__anchor">
  <div class="autocomplete-dropdown__main">
    <div onclick="selectSuggestion(this)">1</div>
    <div onclick="selectSuggestion(this)">2</div>
    <div onclick="selectSuggestion(this)">3</div>
  </div>
</div>


