<div class="message">
  <h2 class="message__header">
    <span class="highlight highlight--purple">Sorry,</span>
    <span>we have no spots listed in this category yet.</span>
  </h2>
  <p class="message__text">Please choose a different category.</p>
</div>
