<div class="spots-results">
  <div class="spots-results__map-overlay spots-results__map-overlay--hide js-map-overlay">
    <%= render "shared/map" %>
  </div>
  <div class="cards-grid">
    <% @spots.each do |spot| %>
      <%= render "spots/spot_card", spot: spot %>
    <% end %>
  </div>
</div>
