<div class="spot-card">
  <%= cl_image_tag spot.photo.card, class: "spot-card__image" %>
  <div class="spot-card__text">
    <p class="spot-card__header"><%= spot.name %></p>
    <p class="spot-card__sub-category"><%= spot.sub_category %></p>
  </div>
  <%= link_to "", spot_path(spot), class: "spot-card__link" %>
</div>
