<div class="main-card">
  <%= cl_image_tag spot.photo? ? spot.photo.card : spot.photo.url, :width => :auto, :dpr => :auto, :responsive_placeholder => "blank", class: "main-card__image" %>
  <div class="main-card__content">
    <p class="main-card__title"><%= spot.name %></p>
    <p class="main-card__sub-title"><%= spot.sub_category %></p>
  </div>
  <%= link_to "", spot_path(spot), class: "main-card__link" %>
</div>
