<%= render "spot" %>
<div class="link link--gray">
  <%= show_svg("caret_left.svg") %>
  <%= link_to "Back to #{@spot.city.name}", city_spots_path(@spot.city) %>
</div>
<% content_for :after_js do %>
  <script>
  window.ratingSlider();
  </script>
<% end %>
