<h1>Unpublished Spots</h1>
<% @cities.each do |city| %>
  <% unless city.spots.draft.size == 0 %>
    <h2><%= city.name %></h2>
    <ul>
      <% city.spots.draft.each do |spot| %>
        <li><%= link_to "#{spot.name} · review", spot_path(spot) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
