// --------------------------------------------------------------
// Colors
// --------------------------------------------------------------

$brand-primary:      #fd0f15;
$brand-secondary:    #fcf5e8;

$black:              #0e0000;
$blue:               #62ddf5;
$light-blue:         #e8fafe;
$gray:               #4a4a4a;
$dark-gray:          #1a1a1a;
// $dark-gray:          #2a2a2a;
$dark-medium-gray:   #6F6D6F;
$medium-gray:        #979797;
$form-gray:          #ced4da;
$light-gray:         #f4f4f4;
$green:              #1ddd88;
$light-green:        #e4fff3;
$orange:             #e67e22;
$pink:               #e746de;
$purple:             #7971fb;
$light-purple:       #ebe9fe;
$red:                #fd0f15;
$light-red:          #ffeaea;
$yellow:             #ffc65a;
$light-yellow:       #fff7e8;
$white:              #ffffff;


// --------------------------------------------------------------
// Colors for category icons
// --------------------------------------------------------------

/*
  eat   - $purple
  drink - $green
  dance - $pink
  see   - $yellow
  shop  - $blue
  sleep - $gray
  wagon - $brand-primary
  other - $black
*/
