// --------------------------------------------------------------
// Colors
// --------------------------------------------------------------

$brand-primary: #fd0f15;
$brand-secondary: #fcf5e8;

$black: #0e0000;
$blue: #62ddf5;
$light-blue: #e8fafe;
$gray: #4a4a4a; // Text
$light-gray: #f4f4f4;
$form-gray: #ced4da;
$green: #1ddd88;
$light-green: #e4fff3;
$orange: #e67e22;
$pink: #e746de;
$purple: #7971fb;
$light-purple: #ebe9fe;
$red: #fd0f15;
$light-red: #ffeaea;
$yellow: #ffc65a;
$light-yellow: #fff7e8;
$white: #fff; // Background


// --------------------------------------------------------------
// Colors for category icons
// --------------------------------------------------------------

/*
  eat   - $purple
  drink - $green
  play  - $pink
  see   - $yellow
  shop  - $blue
  stay  - $gray
  wagon - $brand-primary
  other - $black
*/
