@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");

$body-font: "Montserrat", sans-serif;
$headers-font: "Montserrat", sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium-bold: 500;
$fw-bold: 700;
