$theme-brand-primary:   $brand-primary;
$theme-brand-secondary: $brand-secondary;

$theme-primary:         $blue;
$theme-success:         $green;
$theme-info:            $yellow;
$theme-danger:          $red;
$theme-warning:         $orange;

$theme-background:      $dark-gray;

$theme-body:            $light-gray;  // Text

$theme-shadow: 8px 8px 20px rgba(100, 100, 100, 0.2);

