<%= content_for(:title, "Edit Profile") %>
<div class="form">
  <h1 class="form__header form__header--primary form__header--center">Edit Profile<%#= resource_name.to_s.humanize %></h1>
  <div class="form__main form__main--user">
    <div class="form__message">
      <p>Your details, like your name and profile photo, are linked to your GitHub account.</p>
    </div>
    <div class="form__button">
      <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button button--big" %>
    </div>
    <div class="form__link">
      <div class="caret-link">
        <%= show_svg("caret_left.svg") %>
        <%= link_to "Cancel", root_path %>
      </div>
    </div>
  </div>
</div>
