<%= content_for(:title, "Sign Up") %>
<div class="form form--user">
  <h2 class="form__header form__header--primary form__header--center">Sign up</h2>
  <div class="form__main">
    <div class="form__button">
      <%= link_to "Sign up with Github", user_github_omniauth_authorize_path, class: "button button--primary" %>
    </div>
    <div class="form__link">
      <div class="caret-link">
        <%= show_svg("caret_left.svg") %>
        <%= link_to "Log in", new_session_path(resource_name) %><br />
      </div>
    </div>
  </div>
</div>
