.cities__header {
  padding-top: $spacing-8;
  padding-bottom: $spacing-8;
}

.cities__headline {
  @include wrapper();
  margin-bottom: $spacing-0;
  font-size: $text-4xl;
}

@media (min-width: 576px) {
  .cities__headline {
    width: 65%
  }
}

@media (min-width: 768px) {
  .cities__headline {
    position: absolute;
    top: 136px;
    font-size: $text-5xl;
  }
}

@media (min-width: 992px) {
  .cities__headline {
    position: relative;
    top: 0;
  }
  .cities__background {
    display: none;
  }
}

.cities__main {
  @include wrapper();
  margin-bottom: $spacing-8;
}

.cities__card-wrapper {
  margin-bottom: $spacing-4;
}
