.cities__header {
  padding-top: $spacing-8;
  padding-bottom: $spacing-8;
}

.cities__title {
  @include wrapper();
  margin-bottom: $spacing-0;
  font-size: $text-3xl;
  font-weight: $font-semibold;
}

.cities__inner-text-wrap { white-space: nowrap; }

@media (min-width: 768px) {
  .cities__title {
    position: absolute;
    top: 136px;
    font-size: $text-4xl;
  }
  .cities__text-wrap { white-space: nowrap; }
}

@media (min-width: 992px) {
  .cities__title {
    position: relative;
    top: 0;
    font-size: $text-5xl;
  }
  .cities__background { display: none; }
}

.cities__main {
  @include wrapper();
  margin-bottom: $spacing-8;
}
