.dashboard {
  @include wrapper();
  @include spacer();
}

.dashboard__section:not(:last-child),
.dashboard__subSection:not(:last-child) {
  margin-bottom: $spacing-6;
  border-bottom: 1px solid $light-gray;
}

.dashboard__list {
  list-style: none;
  padding-left: $spacing-0;
  margin-bottom: $spacing-0;
}

.dashboard__listItem {
  display: flex;
  align-items: center;
  padding-top: $spacing-2;
  padding-bottom: $spacing-2;
  &:hover > .dashboard__listLinkWrap {
    display: block;
    cursor: pointer;
  }
}

.dashboard__listItemName {
  margin-bottom: $spacing-0;
}

.dashboard__listLinkWrap {
  display: none;
  &:hover {
    display: block;
  }
}

.dashboard__listLink {
  color: $brand-primary;
  padding-left: $spacing-4;
  &:hover {
    color: $brand-primary;
  }
}

.dashboard__placemarkIcon {
  padding-right: $spacing-4;
}
