.spots__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 384px;
  color: $white;
}

.spots__name {
  color: $white;
  font-weight: var(--medium-bold);
}

