.spot__image {
  height: 256px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.spot__header {
  padding: 48px $wrapper;
  background: $brand-secondary;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .spot__header {
    padding: 48px $wrapper-desktop;
  }
}

.spot__name { font-size: 1.875rem; }

.spot__sub-category {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: $fw-light;
}

.spot__score {
  display: block;
  font-size: 1.25rem;
  font-weight: $fw-regular;
}

.spot__description {
  padding: 24px $wrapper;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .spot__description {
    padding: 24px $wrapper-desktop;
  }
}

.spot__admin {
  padding-top: 6px;
  padding-bottom: 6px;
  background: $light-gray;
  text-align: center;
  a:first-child { margin-right: 4px; }
}

.spot__static-map {
  height: 256px;
  width: 100%;
  object-fit: cover;
}

.spot__details {
  list-style: none;
  margin-bottom: 0;
}

.spot__details-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 18px 0;
  &:not(:last-child) {
    border-bottom: 1px solid $light-gray;
  }
}

.spot__icon { padding-right: 12px; }

.spot__spacer {
  padding: 12px 0;
  background: $light-gray;
}

.spot__rating {
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}
.spot__rating h3 { padding-top: 24px; }
.spot__rating p { margin-bottom: 0; }
