.spots__main {
  position: relative;
}

.spots__message {
  @include wrapper();
  @include spacer();
}

.spots__message-main {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .spots__message-main {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .spots__message-main {
    width: 60%;
  }
}

.spots__message-text {
  padding-top: $spacing-5;
  padding-bottom: $spacing-8;
}

.spots__map-button {
  position: absolute;
  top: -16px;
  left: calc(50% - 16px);
  width: 32px;
  height: 32px;
  cursor: pointer;
  circle {
    fill: $white;
    transition: fill 0.1s;
  }
  g.map {
    fill: $red;
    transition: fill 0.1s;
  }
}

.spots__map-button--pressed {
  circle {
    fill: $red;
  }
  g.map {
    fill: $white;
  }
}

.spots__map-button--hide {
  display: none;
}

.spots__filters-button {
  display: flex;
  justify-content: flex-end;
  @include wrapper();
  padding-top: $spacing-3;
  padding-bottom: $spacing-3;
  border-bottom: 1px solid $light-gray;
  font-size: $text-sm;
  cursor: pointer;
}

.spots__filters-overlay {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: calc(100% - 1px);
  background-color: $white;
  overflow-y: scroll;
  z-index: 3;
}

.spots__filters-overlay--hide {
  display: none;
}

.spots__results {
  @include wrapper();
  @include spacer();
}

// .spots__pagination {
//   @include wrapper();
//   @include spacer();
// }
