.spots-results {
  height: fit-content;
}

.spots-results__map {
  height: 816px; // Height of 9 cards
}

.spots-results__map {
  display: block;
}

.spots-results__map--hidden {
  display: none;
}

.spots-results__cards {
  display: block;
}

.spots-results__cards--hidden {
  display: none;
}
