.spot__image {
  height: 256px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.spot__header {
  padding: $spacing-12 $wrapper;
  background: $brand-secondary;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .spot__header {
    padding: $spacing-12 $wrapper-desktop;
  }
}

.spot__name { font-size: 1.875rem; }

.spot__sub-category {
  display: block;
  font-size: $text-lg;
  font-weight: $font-light;
}

.spot__score {
  display: block;
  font-size: $text-xl;
  font-weight: $font-normal;
}

.spot__description {
  padding: $spacing-6 $wrapper;
  margin-bottom: $spacing-0;
}

@media screen and (min-width: 768px) {
  .spot__description {
    padding: $spacing-6 $wrapper-desktop;
  }
}

.spot__admin {
  padding-top: $spacing-2;
  padding-bottom: $spacing-2;
  background: $light-gray;
  text-align: center;
  a:first-child { margin-right: $spacing-1; }
}

.spot__author { margin-bottom: $spacing-0; }

.spot__map {
  height: 256px;
  width: 100%;
}

.spot__details {
  list-style: none;
  padding-right: $wrapper;
  padding-left: $wrapper;
  margin-bottom: $spacing-0;
}

@media screen and (min-width: 768px) {
  .spot__details {
    padding-right: $wrapper-desktop;
    padding-left: $wrapper-desktop;
  }
}

.spot__details-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: $spacing-4;
  padding-bottom: $spacing-4;
  &:not(:last-child) {
    border-bottom: 1px solid $light-gray;
  }
}

.spot__icon { padding-right: $spacing-3; }

.spot__spacer {
  background: $light-gray;
  padding-top: $spacing-3;
  padding-bottom: $spacing-3;
}

.spot__rating {
  padding-left: $spacing-8;
  padding-right: $spacing-8;
  margin-bottom: $spacing-12;
  text-align: center;
}

.spot__rating-headline { padding-top: $spacing-6; }

.spot__rating-tagline {
  margin-bottom: $spacing-0;
  span {
    font-weight: $font-medium;
  }
}
