:root {
  --light: 300;
  --regular: 400;
  --medium-bold: 500;
  --bold: 700;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  overflow-x: hidden;
}

h1 {
  color: $black;
  font-weight: var(--bold);
}

a {
  color: $gray;
  &:hover {
    color: $gray;
    text-decoration: none;
  }
}

.highlighted {
  padding: 0;
  border-radius: 0;
}

.highlighted--text { font-weight: var(--medium-bold); }
.highlighted--red { color: $brand-primary; }
.highlighted--purple { color: $purple; }

@media screen and (min-width: 768px) {
  .highlighted {
    padding: 2px 8px 4px;
    border-radius: 3px;
  }
  .highlighted--red { background: $light-red; }
  .highlighted--purple { background: $light-purple;}
}
