html {
  height: 100%;
}

h2 {
  font-size: $text-3xl;
  font-weight: $font-semibold;
}

@media (min-width: 576px) {
  h2 {
    font-size: $text-4xl;
  }
}

a {
  color: $theme-color-glg;
  &:hover {
    color: $theme-color-glg;
    text-decoration: none;
  }
}
