.main-container {
  padding: 0 24px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.spacer-xs {
  margin-bottom: 12px;
}

.spacer-s {
  margin-bottom: 24px;
}

.spacer-md {
  margin-bottom: 48px;
}

.spacer-lg {
  margin-bottom: 96px;
}

/* Media Queries */
/* Styles for viewports that are 576px wide or more */
@media screen and (min-width: 576px) {
  .main-container {
    &--form {
      width: 50%;
    }
    &--cities {
      width: 60%;
    }
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    &--form {
      width: 40%;
    }
    &--cities {
      width: 50%;
    }
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    &--form {
      width: 35%;
    }
    &--cities {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    &--form {
      width: 25%;
    }
  }
}
