.button-center {
  display: flex;
  justify-content: center;
}

.brand-primary { color: $brand-primary };

.spacer-xs { margin-bottom: 12px; }
.spacer-sm { margin-bottom: 24px; }
.spacer-md { margin-bottom: 32px;}
.spacer-lg { margin-bottom: 48px; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.wrapper { padding: 0 20px; }

.wrapper-form {
  width: 100%;
  padding: 0 var(--wrapper);
  margin: 48px auto;
}

@media screen and (min-width: 576px) {
  .wrapper-form { width: 75%; }
}

@media screen and (min-width: 768px) {
  .wrapper-form { width: 65%; }
}

@media screen and (min-width: 992px) {
  .wrapper-form { width: 50%; }
}

@media screen and (min-width: 1200px) {
  .wrapper-form { width: 35%; }
}
