<div class="categories spacer-md">
  <div class="categories__header">
    <div class="categories__close">
      <%= show_svg("close.svg") %>
    </div>
    <div class="categories__title">Categories</div>
    <div class="categories__all">
      <%= link_to "All", city_spots_path(@city), class: "highlighted highlighted--purple" %>
    </div>
  </div>
  <ul class="categories__list">
  <% Category.all.each do |category| %>
    <li class="categories__item">
      <div class="categories__icon">
        <%= show_svg("placemark_#{category.name}.svg") %>
      </div>
      <%= link_to category.name.capitalize, city_spots_path(category: category.name), class: "categories__name" %>
    </li>
  <% end %>
  </ul>
</div>
