<div class="filter">
  <div class="filter__header spacer-sm">
    <div class="filter__close js-filter-close">
      <%= show_svg("close.svg") %>
    </div>
    <div class="filter__name">Categories</div>
    <div class="filter__clear">
      <%= link_to "All", city_spots_path(@city), class: "highlighted highlighted--purple" %>
    </div>
  </div>
  <div class="filter__categories">
    <ul class="categories-list">
      <% Category.all.each do |category| %>
        <li class="categories-list__item">
          <div class="categories-list__icon">
            <%= show_svg("placemark_#{category.name}.svg") %>
          </div>
          <%= link_to category.name.capitalize, city_spots_path(category: category.name), class: "categories-list__name" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
