<div class="message">
  <div class="message__inner-wrap">
    <h2 class="message__header">
      <%= captured %>
    </h2>
    <p class="message__text"><%= message_text %></p>
    <%= link_to "Take me home", root_path, class: "button button--big button--with-margin button--primary" %>
  </div>
  <div class="message__svg">
    <%= inline_svg_tag("main_background.svg", options={class: "main-background"}) %>
  </div>
</div>
