<% link = pagy_link_proc(pagy) %>
<nav aria-label="pager" class="pagy_nav pagination" role="navigation">
  <% if pagy.prev %>
    <span class="page prev">
      <%== link.call(pagy.prev, inline_svg_tag("icon_caret_left.svg", options={class: "icon icon--small"}), 'aria-label="previous"') %>
    </span>
  <% else %>
    <span class="page prev disabled"><%= inline_svg_tag("icon_caret_left.svg", options={class: "icon icon--small"}) %></span>
  <% end %>
  <% if pagy.next %>
    <span class="page next">
      <%== link.call(pagy.next, inline_svg_tag("icon_caret_right.svg", options={class: "icon icon--small"}), 'aria-label="next"') %>
    </span>
  <% else %>
    <span class="page next disabled"><%= inline_svg_tag("icon_caret_right.svg", options={class: "icon icon--small"}) %></span>
  <% end %>
</nav>
