.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spacing-5;
}

@media (min-width: 576px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
