<div class="message">
  <div class="message__inner-wrap">
    <h2 class="message__header">
      <span class="highlight highlight--purple">Oops,</span>
      <span>it's a <%= status %>.</span>
    </h2>
    <p class="message__text"><%= error_message %></p>
    <%= link_to "Take me home", root_path, class: "button button--big button--with-margin button--primary" %>
  </div>
  <div class="message__svg">
    <%= show_svg("main_svg.svg") %>
  </div>
</div>
