<% content_for(:title, "500") %>
<%= render "shared/message",
          message_text: @error_message,
          :captured => capture { %>
          <span>Oops, it's a</span>
          <span class="highlight highlight--purple"><%= @status %>.</span>
<% } %>
