<%= content_for(:title, "Log in") %>
<div class="form form--user">
  <h1 class="form__header form__header--primary form__header--center">Log in</h1>
  <div class="form__main form__main--user">
    <div class="form__button">
      <%= link_to "Log in with GitHub", user_github_omniauth_authorize_path, method: :post, class: "button button--big button--primary" %>
    </div>
    <div class="form__link">
      <div class="caret-link">
        <%= inline_svg_tag("icon_caret_left.svg", options={class: "icon icon--tiny"}) %>
        <%= link_to "Sign up", new_registration_path(resource_name) %>
      </div>
    </div>
  </div>
</div>
