<%= content_for(:title, "Add Country") %>
<div class="form">
  <h1 class="form__header">Add a new country</h1>
  <div class="form__main">
    <%= render "form" %>
  </div>
  <div class="caret-link">
    <%= inline_svg_tag("icon_caret_left.svg", options={class: "icon icon--tiny"}) %>
    <%= link_to "Cancel", :back %>
  </div>
</div>
