.button {
  display: block;
  width: auto; // check other buttons (192px before)
  background-color: $theme-color-wdg;
  color: $theme-color-glg;
  padding: $spacing-3 $spacing-6;
  border-radius: 3px;
  box-shadow: $theme-box-shadow-small;
  font-weight: $font-semibold;
  text-align: center;
  white-space: nowrap;
}

.button--big {
  width: 224px;
}

.button--centered {
  display: flex;
  justify-content: center;
}

.button--with-margin {
  margin-bottom: $spacing-4;
}

.button--primary {
  background-color: $brand-primary;
  color: $white;
  border: $brand-primary;
  &:hover {
    color: $white;
  }
}

.button--secondary {
  background-color: $white;
  color: $brand-primary;
  border: $white;
  &:hover {
    color: $brand-primary;
  }
}

.button--image-upload {
  background-color: $theme-color-wdg;
  box-shadow: none;
  font-weight: $font-normal;
}

.button--file-upload {
  display: none;
}
