.button {
  display: block;
  width: 192px;
  padding: 6px 12px;
  border: 1px solid $form-gray;
  border-radius: 3px;
  text-align: center;
}

.button-big {
  width: 256px;
}

.button-file-upload {
  display: none;
}

.button-primary {
  background-color: $brand-primary;
  color: $white;
  border: 1px solid $brand-primary;
  &:hover {
    color: $white;
  }
}

.button-secondary {
  background-color: $light-gray;
}

.button-cancel {
  background-color: transparent;
}
