.button {
  display: block;
  width: auto; // check other buttons (192px before)
  padding: $spacing-3 $spacing-6;
  border-radius: 3px;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  font-weight: $font-semibold;
  text-align: center;
  white-space: nowrap;
}

.button--big {
  width: 224px; // check if still necessary
}

.button--primary {
  background-color: $brand-primary;
  color: $white;
  border: $brand-primary;
  &:hover {
    color: $white;
  }
}

.button--secondary {
  background-color: $white;
  color: $brand-primary;
  border: $white;
  &:hover {
    color: $brand-primary;
  }
}

.button--image-upload {
  background-color: $light-gray;
  box-shadow: none;
  font-weight: $font-normal;
}

.button--file-upload {
  display: none;
}
