.caret-link {
  display: flex;
  align-items: center;
}

.caret-link a {
  color: $brand-primary;
  font-weight: var(--medium-bold);
  &:hover {
    color: $brand-primary;
  }
}

.caret-link--bg-gray {
  padding: 6px 0;
  background: $light-gray;
}
