.spot-card__link-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

// 270px x 160px
.spot-card__image {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  object-position: center;
  object-fit: cover;
}

.spot-card__text { padding-left: 16px; }

.spot-card__sub-category {
  margin-bottom: 0;
  font-size: $text-sm;
  font-weight: $font-light;
}

.spot-card__name {
  margin-bottom: 0;
  font-size: $text-lg;
  font-weight: $font-medium;
}
