.city-card-wrapper {
  display: block;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.city-card {
  display: flex;
  align-items: center;
}

.city-card__image {
  width: 80px;
  height: 80px;
  object-position: center;
  object-fit: cover;
  border-radius: 3px;
}
.city-card__text { padding-left: 12px; }

.city-card__name {
  margin-bottom: 0;
  font-size: $text-lg;
  font-weight: $font-medium;
}

.city-card__spots {
  margin-bottom: 0;
  font-size: $text-sm;
  font-weight: $font-light;
}
