.caret-link {
  display: flex;
  align-items: center;
}

.caret-link a {
  color: $brand-primary;
  font-weight: $font-medium;
  &:hover {
    color: $brand-primary;
  }
}

.caret-link--bg-gray {
  padding: 12px $wrapper;
  background: $light-gray;
}

@media screen and (min-width: 768px) {
  .caret-link--bg-gray {
    padding: 12px $wrapper-desktop;
  }
}
