.card-wrap {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.card-spot {
  background: $white;
  padding: 24px;
  &__sub-category {
    font-size: 0.875rem;
    font-weight: lighter;
  }
  &__name {
    font-size: 1.25rem;
  }
}
