.card-spot-wrapper {
  display: block;
  margin-bottom: 16px;
}

.card-spot {
  display: flex;
  align-items: center;
}

// 270px x 160px
.card-spot__image {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  object-position: center;
  object-fit: cover;
}

.card-spot__text { padding-left: 16px; }

.card-spot__sub-category {
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: $fw-light;
}

.card-spot__name {
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: $fw-medium-bold;
}
