.caret-link {
  display: flex;
  align-items: center;
}

.caret-link a {
  color: $brand-primary;
  font-weight: $font-medium;
  &:hover 
  { color: $brand-primary-deep; }
}

.caret-link--bg-gray {
  @include wrapper();
  padding-top: $spacing-3;
  padding-bottom: $spacing-3;
  background: $light-gray;
}
