.categories-list {
  list-style: none;
  padding-left: $spacing-0;
  margin-bottom: $spacing-0;
}

.categories-list__item {
  display: flex;
  align-items: center;
  padding-top: $spacing-2;
  padding-bottom: $spacing-2;
}

.categories-list__name {
  padding-left: $spacing-4;
}
