.categories {
  padding: 12px $wrapper;
  font-weight: $fw-medium-bold;
}

.categories__header {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $light-gray;
}

.categories__close {
  height: 24px;
  width: 24px;
  fill: $gray;
}

.categories__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.categories__item {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .categories {
    padding: 12px $wrapper-desktop;
  }
}

.categories__name {
  padding-left: 18px;
}
