// Header for spots index page
.city-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 384px;
  color: $white;
}

.city-header__name {
  color: $white;
  font-size: $text-4xl;
  font-weight: $font-medium;
}

.city-header__country { font-size: $text-xl }
