.filters {
  width: 256px;
  background: $theme-color-wdg;
  padding: $spacing-5 $spacing-6;
  color: $theme-color-glg;
  font-weight: $font-medium;
  box-shadow: $theme-box-shadow;
}

.filters__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: $spacing-5;
  margin-bottom: $spacing-3;
  border-bottom: 1px solid $theme-color-lgb;
}

.filters__list {
  list-style: none;
  padding-left: $spacing-0;
  margin-bottom: $spacing-0;
}

.filters__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: $spacing-2;
  padding-bottom: $spacing-2;
}

.filters__checkbox {
  display: none;
}

.filters__checkbox + .filters__label .icon--checkbox {
  opacity: 0.3;
  flex-shrink: 0;
}

.filters__checkbox:checked + .filters__label .icon--checkbox {
  opacity: 1;
}

.filters__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.filters__tag {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.filters__name {
  padding-left: $spacing-4;
}
