.filter {
  padding: 12px $wrapper;
  font-weight: $fw-medium-bold;
}

.filter__nav,
.filter__header {
  font-size: 0.875rem;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $light-gray;
}

.filter__nav {
  text-align: center;
  cursor: pointer;
}

.filter__header {
  display: flex;
  justify-content: space-between;
}

.filter__close {
  height: 24px;
  width: 24px;
  fill: $gray;
  cursor: pointer;
}

.filter__clear a:hover {
  color: $purple;
}

.filter__overlay {
  position: absolute;
  top: 0;
  display: none;
  width: calc(100% - 36px);
  height: 100%;
  z-index: 10;
  background-color: $white;
  padding: 12px 18px;
}

@media screen and (min-width: 768px) {
  .filter {
    padding: 12px $wrapper-desktop;
  }
}
