.footer {
  @include wrapper();
  padding-top: $spacing-12;
  padding-bottom: $spacing-12;
  background: $black;
  color: $white;
}

.footer__references { margin-bottom: $spacing-12; }

.footer__disclaimer {
  color: $light-gray;
  font-size: $text-sm;
  span {
    display: block;
    margin-bottom: $spacing-4;
    color: $white;
    font-size: $text-base;
    font-weight: $font-medium;
  }
  a {
    color: $light-gray;
    text-decoration: underline;
    &:hover { color: $light-gray; }
  }
}
