footer {
  padding: 64px $wrapper;
  background: $black;
  color: $white;
}

.footer__disclaimer {
  color: $light-gray;
  font-size: 0.875rem;
  span {
    display: block;
    margin-bottom: 1rem;
    color: $white;
    font-size: 1rem;
    font-weight: $fw-medium-bold;
  }
  a {
    color: $light-gray;
    text-decoration: underline;
    &:hover {
      color: $light-gray;
    }
  }
}
