.form-card {
  @include spacer();
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow;
}

.form-card__header {
  padding: $spacing-2;
  margin-bottom: $spacing-8;
  color: $white;
  background-color: $black;
  font-weight: $font-black;
  font-size: $text-2xl;
}

.form-card__main {
  padding: $spacing-6;
}
