.form-card {
  @include spacer();
  max-width: 770px;
  margin: 0 10% 0 30%;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow;
  background: $white;
}

.form-card__header {
  padding: $spacing-2;
  margin-bottom: $spacing-8;
  color: $white;
  background-color: $black;
  font-weight: $font-black;
  font-size: $text-2xl;
}

.form-card__main {
  padding: $spacing-6;
  // Right Input column
  input[type="text"],
  [type="tel"] {
    border: 0;
    background-color: $lighter-gray;
    color: $medium-gray;
    border-radius: 2px;
    padding: $spacing-6;
    box-shadow: none;
  }

  .form-control {
    border: 0;
    background-color: $lighter-gray;
    color: $gray;
    border-radius: 2px;
    max-width: 320px;
    float: right;
    // padding: $spacing-6;
    box-shadow: none;
  }

  textarea {
    border: 0;
    height: 90%;
    border-radius: 2px;
    background-color: $lighter-gray;
    padding: $spacing-5;
    color: $medium-gray;
    resize: none;
    box-shadow: none;
  }
}
