.form {
  width: 100%;
  @include wrapper();
  @include spacer();
  margin-right: auto;
  margin-left: auto;
}

.form--user {
  width: 90%;
  padding-top: $spacing-8;
  padding-bottom: $spacing-8;
  border-radius: 6px;
  box-shadow: $theme-shadow;
}

.form__header { margin-bottom: $spacing-8; }

.form__header--center { text-align: center; }

.form__header--primary { color: $brand-primary; }

.form__main { margin-bottom: $spacing-8; }

.form__main--user { margin-bottom: $spacing-0; }

.form__category { margin-bottom: $spacing-8; }

.form__image-preview {
  margin-bottom: $spacing-3;
  width: 192px;
}

.form__button {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-8;
}

.form__link {
  display: flex;
  justify-content: center;
}

.form__message {
  padding-top: $spacing-8;
  padding-bottom: $spacing-8;
}

@media screen and (min-width: 576px) {
  .form { width: 85%; }
  .form--user { width: 85%; }
}

@media screen and (min-width: 768px) {
  .form { width: 80%; }
  .form--user { width: 55%; }
}

@media screen and (min-width: 1200px) {
  .form { width: 70%; }
  .form--user { width: 40%; }
}
