// Header for all cities home page
.cities-header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.cities-header__headline {
  margin-bottom: 0;
  padding-right: $wrapper;
  padding-left: $wrapper;
  font-size: 2.25rem;
}

@media screen and (min-width: 567px) {
  .cities-header__headline {
    width: 65%;
  }
}

@media screen and (min-width: 768px) {
  .cities-header__headline {
    position: absolute;
    top: 136px;
    width: 60%;
    padding-right: $wrapper-desktop;
    padding-left: $wrapper-desktop;
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .cities-header__headline {
    position: relative;
    top: 0;
    width: 50%;
  }
  .cities-header__background {
    display: none;
  }
}
