// Header for all cities home page
.cities-header { padding-top: 30px; }

.cities-header__headline {
  padding: 0 $wrapper;
  font-size: 2.25rem;
}

@media screen and (min-width: 567px) {
  .cities-header__headline {
    width: 65%;
  }
}

@media screen and (min-width: 768px) {
  .cities-header__headline {
    position: absolute;
    top: 136px;
    width: 60%;
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .cities-header__headline {
    position: relative;
    top: 0;
    width: 50%;
  }
  .cities-header__background {
    display: none;
  }
}
