.city-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 384px;
  color: $white;
}

.city-header__city {
  color: $white;
  font-size: 2.25rem;
  font-weight: $fw-medium-bold;
}

.city-header__country { font-size: 1.25rem }
