.category-icon {
  width: 32px;
  height: 32px;
}

.category-icon--eat {
  circle { fill: $purple; }
}

.category-icon--drink {
  circle { fill: $green; }
}

.category-icon--play {
  circle { fill: $pink; }
}

.category-icon--see {
  circle { fill: $yellow; }
}

.category-icon--shop {
  circle { fill: $blue; }
}

.category-icon--stay {
  circle { fill: $gray; }
}

.category-icon--wagon {
  circle { fill: $brand-primary; }
}

.category-icon--other {
  circle { fill: $black; }
}
