.icon {
  width: 32px;
  height: 32px;
  fill: $brand-primary;
}

.icon--tiny {
  width: 18px;
  height: 18px;
}

.icon--small {
  width: 24px;
  height: 24px;
}

.icon--medium {
  width: 40px;
  height: 40px;
}

.icon--big {
  width: 48px;
  height: 48px;
}

.icon--checkbox {
  rect {
    fill: $theme-color-wdg;
  }
  svg {
    fill: $brand-primary;
  }
}

.icon--close {
  fill: $theme-color-gw;
}

.icon--compass {
  circle {
    fill: $brand-primary;
  }
  svg {
    fill: $theme-color-wb;
  }
}

.icon--hamburger {
  fill: $theme-color-gw;
}

.icon--moon,
.icon--sun {
  fill: $gray;
}

// --------------------------------------------------------------
// Placemark Icons
// --------------------------------------------------------------

.icon--placemark {
  fill: $white;
}

.icon--eat {
  circle {
    fill: $purple;
  }
}

.icon--dance {
  circle {
    fill: $pink;
  }
}

.icon--drink {
  circle {
    fill: $green;
  }
}

.icon--see {
  circle {
    fill: $yellow;
  }
}

.icon--shop {
  circle {
    fill: $blue;
  }
}

.icon--sleep {
  circle {
    fill: $gray;
  }
}

.icon--wagon {
  circle {
    fill: $brand-primary;
  }
}

.icon--other {
  circle {
    stroke: $theme-color-bw;
    stroke-width: 4;
    fill: $black;
  }
}
