.main-background {
  fill: none;
  .rectangle {
    height: 48px;
    width: 100%;
    fill: $theme-color-sdg;
  }
  .eiffel,
  .temple,
  .palm-tree {
    fill: $theme-color-sdg;
  }
  .kangaroo {
    fill: $theme-color-cg;
  }
  .wagon {
    fill: $brand-primary;
  }
}

// TODO: add the correct height and width for bg
.form-background {
  position: absolute;
  z-index: -1;
}
