.main-background {
  fill: none;
  .rectangle {
    height: 48px;
    width: 100%;
    fill: $theme-color-sdg;
  }
  .eiffel,
  .temple,
  .palm-tree {
    fill: $theme-color-sdg;
  }
  .kangaroo {
    fill: $theme-color-cg;
  }
  .wagon {
    fill: $brand-primary;
  }
}

.form-background {
  position: absolute;
  height: 200%;
  width: 190%;
  z-index: -1;
}
