.navbar-lewagon {
  justify-content: space-between;
  @include wrapper();
  padding-top: $spacing-6;
  padding-bottom: $spacing-6;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler {
  padding: $spacing-0;
  border: none;
}

.navbar-light .navbar-nav .nav-link {
  color: $theme-color-glg;
  &:hover {
    color: $theme-color-glg;
  }
  li {
    display: flex;
  }
}

.dropdown-menu {
  background-color: $theme-color-wdg;
}

.dropdown-item {
  color: $theme-color-gw;
  &:hover {
    color: $theme-color-gw;
    background-color: $theme-color-lgb;
    text-decoration: none;
  }
}

@media (min-width: 576px) {
  .avatar.dropdown-toggle {
    margin-left: $spacing-5;
  }
}
