.navbar-lewagon {
  justify-content: space-between;
  @include wrapper();
  padding-top: $spacing-6;
  padding-bottom: $spacing-6;
  background: $white;
}

.navbar-lewagon .navbar-collapse { flex-grow: 0; }

.navbar-toggler {
  padding: $spacing-0;
  border: none;
}

.navbar-light .navbar-nav .nav-link {
  color: $gray;
  &:hover {
    color: $gray;
  }
}

@media (min-width: 576px) {
  .avatar.dropdown-toggle {
    margin-left: $spacing-5;
  }
}
