#rating_score {
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
}

#rating_score::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: transparent;
  height: 20px;
  width: 20px;
  margin-top: -8px;
}

#rating_score::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
}

.slider-container {
  position: relative;
  padding-top: 100px;
}

#thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  font-size: $text-3xl;
  left: -10px;
  pointer-events: none;
  .value {
    font-size: $text-lg;
    color: $red;
  }
  animation-name: fade-in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.rating-range-container {
  display: flex;
  justify-content: space-between;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
