.spot-card__link-wrapper {
  display: flex;
  align-items: center;
}

.spot-card__image {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  object-position: center;
  object-fit: cover;
}

.spot-card__text { padding-left: $spacing-4; }

.spot-card__header {
  margin-bottom: $spacing-0;
  font-size: $text-lg;
  font-weight: $font-medium;
}

.spot-card__sub-category {
  margin-bottom: $spacing-0;
  font-size: $text-sm;
  font-weight: $font-light;
}
