<% unless city.spots.count == 0 %>
  <%= link_to city_spots_path(city), class: "city-card-wrapper" do %>
    <div class="city-card">
      <%= cl_image_tag city.cover.card, class: "city-card__image" %>
      <div class="city-card__text">
        <p class="city-card__name"><%= city.name %></p>
        <p class="city-card__spots"><%= pluralize city.spots.published.size, "spot" %></p>
      </div>
    </div>
  <% end %>
<% end %>
