<div class="cities">
  <header class="main-header">
    <h1 class="main-header__title">Find your favorite <span class="highlight highlight--none">hot spots </span><span class="main-header__text-wrap">in <span class="main-header__inner-text-wrap">Le Wagon's cities</span></span></h1>
    <%= show_svg("background_main.svg") %>
  </header>
  <div class="cities__main">
    <div class="cards-grid">
      <% @cities.each do |city| %>
        <%= render "cities/city_card", city: city %>
      <% end %>
    </div>
  </div>
</div>
