<div class="cities">
  <div class="cities__header">
    <h1 class="cities__headline">Find your favorite <span class="highlight highlight--none">hotspots </span><span class="cities__text-wrap">in <span class="cities__inner-text-wrap">Le Wagon's cities</span></span></h1>
    <%= show_svg("cities_background.svg") %>
  </div>
  <div class="cities__main">
    <% @cities.each do |city| %>
      <div class="cities__card-wrapper">
        <%= render partial: "cities/city_card", locals: { city: city} %>
      </div>
    <% end %>
  </div>
</div>
