<header class="cities-header">
  <h1 class="cities-header__headline">Which <span class="highlighted highlighted--red">city</span> would you like to explore?</h1>
  <%= show_svg("cities_background.svg") %>
</header>
<div class="cities wrapper spacer-md">
  <%= render @cities %>
</div>
