<%= content_for(:title, "Add City") %>
<div class="form">
  <h1 class="form__header">Add a new city</h1>
  <div class="form__main">
    <%= render "form" %>
  </div>
  <div class="caret-link">
    <%= show_svg("caret_left.svg") %>
    <%= link_to "Cancel", :back %>
  </div>
</div>
