.brand-primary { color: $brand-primary };

.headline-primary {
  color: $brand-primary;
}

.link-primary {
  color: $brand-primary;
  &:hover {
    color: $brand-primary;
  }
}

.highlighted {
  padding: 0;
  border-radius: 0;
}

.highlighted--text { font-weight: $fw-medium-bold; }
.highlighted--red { color: $brand-primary; }
.highlighted--purple { color: $purple; }

@media screen and (min-width: 768px) {
  .highlighted {
    padding: 2px 8px 4px;
    border-radius: 3px;
  }
  .highlighted--red { background: $light-red; }
  .highlighted--purple { background: $light-purple;}
}

.spacer-xs { margin-bottom: $spacing-xs; }
.spacer-sm { margin-bottom: $spacing-sm; }
.spacer-md { margin-bottom: $spacing-md; }
.spacer-lg { margin-bottom: $spacing-lg; }

.button-center {
  display: flex;
  justify-content: center;
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }


// Main wrapper
.wrapper {
  padding-right: $wrapper;
  padding-left: $wrapper;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-right: $wrapper-desktop;
    padding-left: $wrapper-desktop;
  }
}
