$brand-primary:   #fd0f15;
$brand-secondary: #fcf5e8;

$black:        #0e0000;
$blue:         #62ddf5;
$light-blue:   #e8fafe;
$gray:         #4a4a4a; // Text - light theme
$dark-gray:    #2a2a2a; // Background - Dark theme
$medium-gray:  #979797;
$light-gray:   #f4f4f4; // Text - Dark theme
$form-gray:    #ced4da;
$green:        #1ddd88;
$light-green:  #e4fff3;
$orange:       #e67e22;
$pink:         #e746de;
$purple:       #7971fb;
$light-purple: #ebe9fe;
$red:          #fd0f15;
$light-red:    #ffeaea;
$yellow:       #ffc65a;
$light-yellow: #fff7e8;
$white:        #fff;    // Background - Light theme

$theme-brand-primary:   $brand-primary;
$theme-brand-secondary: $brand-secondary;

$theme-primary:         $blue;
$theme-success:         $green;
$theme-info:            $yellow;
$theme-danger:          $red;
$theme-warning:         $orange;

$theme-background:      $dark-gray;

$theme-body:            $light-gray;  // Text

$theme-shadow: 8px 8px 20px rgba(100, 100, 100, 0.2);

