<div class="form-wrapper">
  <h1 class="text-center spacer-md">Add a new category</h1>
  <%= simple_form_for(@category) do |f| %>
    <div class="spacer-md">
      <%= f.input :name %>
    </div>
    <div class="button-center">
      <%= f.submit class: "button button-primary" %>
    </div>
  <% end %>
</div>
