// --------------------------------------------------------------
// Here you can set the variables for the dark theme
// Every variable in this file must have an equivalent in
// theme_light.scss
// --------------------------------------------------------------

$theme-color-glg:        $light-gray;  // gray       - light-gray
$theme-color-gw:         $white;       // gray       - white
$theme-color-lgb:        $black;       // light-gray - black
$theme-color-lgg:        $gray;        // light-gray - gray
$theme-color-lgdg:       $dark-gray;   // light-gray - dark-gray
$theme-color-lrdg:       $dark-gray;   // light-red  - dark-gray
$theme-color-wb:         $black;       // white      - black
$theme-color-wdg:        $dark-gray;   // white      - dark-gray

$theme-box-shadow:       none;
$theme-box-shadow-small: none;